{
  "semi": true,
  "printWidth": 180,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",

  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
